In [1]:
from utils import *

/home/anaconda/envs/digix/lib/python3.6/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [2]:
# 模型加载
model = Doc2Vec.load('../ckp/doc2vec.model')
stopwords = [line.strip() for line in open('../../baidu_stopwords.txt',encoding='UTF-8').readlines()]

def cut_sentence(sentence):
    sentence = re.sub(r'[\s，。？?！“”‘’…：；:（）《》、—.．*~～＿－-]','',sentence)
    words = jieba.cut(sentence)
    w_list = []
    for w in words:
        if w not in stopwords:
            w_list.append(w)
    return w_list

def para_doc2vec(words):
    return model.infer_vector(words)

# 视频特征

In [3]:
video_df = load_video()

## 视频特征编码

### video_name

In [4]:
v_names = video_df['video_name']
sentences_encodes = []
for line in v_names:
    words_list = cut_sentence(line)
    sen_encode = para_doc2vec(words_list)
    sentences_encodes.append(sen_encode)
video_names = pd.DataFrame(sentences_encodes)
video_names.info()

Building prefix dict from the default dictionary ...
Loading model from cache /tmp/jieba.cache
Loading model cost 0.426 seconds.
Prefix dict has been built successfully.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50355 entries, 0 to 50354
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       50355 non-null  float64
 1   1       50355 non-null  float64
 2   2       50355 non-null  float64
 3   3       50355 non-null  float64
 4   4       50355 non-null  float64
 5   5       50355 non-null  float64
 6   6       50355 non-null  float64
 7   7       50355 non-null  float64
 8   8       50355 non-null  float64
 9   9       50355 non-null  float64
 10  10      50355 non-null  float64
 11  11      50355 non-null  float64
 12  12      50355 non-null  float64
 13  13      50355 non-null  float64
 14  14      50355 non-null  float64
 15  15      50355 non-null  float64
 16  16      50355 non-null  float64
 17  17      50355 non-null  float64
 18  18      50355 non-null  float64
 19  19      50355 non-null  float64
 20  20      50355 non-null  float64
 21  21      50355 non-null  float64
 22  22      50355 non-null  float64
 23  23      50355 non-null  float64
 24  24      50355 non-null  float64
 25  25      50355 non-null  float64
 26  26      50355 non-null  float64
 27  27      50355 non-null  float64
 28  28      50355 non-null  float64
 29  29      50355 non-null  float64
 30  30      50355 non-null  float64
 31  31      50355 non-null  float64
dtypes: float64(32)
memory usage: 12.3 MB

In [5]:
video_df = concatDf(video_df, video_names, 'video_name')

拼接成功

In [6]:
video_df.head()

,video_id,video_tags,video_description,video_release_date,video_director_list,video_actor_list,video_score,video_second_class,video_duration,video_name_0,...,video_name_22,video_name_23,video_name_24,video_name_25,video_name_26,video_name_27,video_name_28,video_name_29,video_name_30,video_name_31
0,3460,"院线电影,家庭关系,命运","中年失意的儿子田力行（古天乐饰）在生活上遇到了重重危机：母亲病逝,工作不顺,妻子要求离婚。正...",2017-04-27,司徒慧焯,"吴镇宇,古天乐,春夏,蔡洁",7.4,"剧情,喜剧,奇幻",5913,0.043062,...,0.026531,-0.039590,0.016052,0.061739,-0.013442,-0.018221,-0.128394,-0.099944,-0.000227,-0.046929
1,14553,"古装喜剧,剧情片,喜剧片,内地电影,欢乐喜剧,爱情纠纷",故事始于西门庆为西门药业的“伟哥”产品寻找代言人，西门庆初见潘金莲，一时惊为天人，为成功抱得...,2015-12-30,"杨珊珊,李亚玲","陈南飞,程隆妮,王闯,贾海涛,闫薇儿",5.6,喜剧,6217,0.041421,...,0.022769,-0.008588,-0.014664,0.075853,-0.019490,-0.018492,-0.035816,-0.064760,0.036593,-0.050374
2,1214,"男女关系,家庭关系,命运,院线电影",香世仁（钟镇涛 饰）是家财万贯的香港富豪，在满足了一切物质上的要求后，他将生活的重心放在了儿...,2002-03-07,"邱礼涛,杨漪珊","张家辉,卢巧音,钟镇涛,叶童,李蕙敏,张坚庭,袁洁莹,黄佩霞,齐芷瑶,刘以达,叶伟信,邹凯光...",6.8,"都市,喜剧,爱情,家庭",5963,0.127346,...,0.008498,0.010186,0.018149,0.084999,-0.046210,-0.052868,-0.097804,-0.103179,0.058598,-0.011098
3,30639,"短片,动画片",低音大提琴演奏家史密斯科夫正要去参加某贵族的沙龙，途中他被河边的美丽景色所吸引，驻足观看。兴...,1949-01-01,"伊里·特恩卡,契诃夫",,NaN,"动画,爱情",17371,0.062892,...,-0.041415,0.030906,0.066158,0.020402,-0.001215,-0.024880,-0.102883,0.029738,-0.040433,-0.040626
4,38522,"喜剧片,人物传记,浪漫爱情",罗伯特．Z．伦纳德导演的这部影片以百老汇最大的歌舞团——齐格菲歌舞团的创办人佛罗伦斯．齐格菲...,1936-04-08,"罗伯特·Z·伦纳德,William Anthony McGuire","威廉·鲍威尔,玛娜·洛伊,路易丝·赖纳,弗兰克·摩根,范妮·布莱斯,弗吉尼亚·布鲁斯,雷吉纳...",7.7,"剧情,歌舞,喜剧",10608,0.071006,...,-0.027159,-0.027172,0.031251,0.107349,-0.005234,-0.037712,-0.082833,-0.050449,-0.014269,-0.085271

### video_tags

> video_tags: 先分词，然后生成multi-hot向量，然后降为10维。

In [7]:
m_h_encode = getMultiHotLabel(video_df, 'video_tags')

In [8]:
tags_lda = getLDAencode(m_h_encode, 16)

In [9]:
video_df = concatDf(video_df, tags_lda, 'video_tags')

拼接成功

### video_description  
>  将视频描述转换为向量

> 训练doc2vec模型，采用豆瓣电影数据集。https://github.com/csuldw/AntSpider

m_storylines = pd.read_csv("../../dataset/traindata/video_features_data/movie_storylines.csv")

# 引入日志配置
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

# 加载数据
documents = []
# 使用count当做每个句子的“标签”，标签和每个句子是一一对应的
count = 0

# 采用百度停用词
stopwords = [line.strip() for line in open('../../baidu_stopwords.txt',encoding='UTF-8').readlines()]

description = m_storylines["STORYLINE"]

for line in description:
    line = re.sub(r'[\s，。？?！“”‘’…：；:（）《》、—.．*~～＿－-]','',line)
    words = jieba.cut(line)
    w_list = []
    for w in words:
        if w not in stopwords:
            w_list.append(w)
            
    documents.append(gensim.models.doc2vec.TaggedDocument(w_list, [str(count)]))
    
    count += 1
    if count % 10000 == 0:
        logging.info('{} has loaded...'.format(count))
    w_list = []

# 模型训练
model = Doc2Vec(documents, vector_size=32, dm=1, window=8, min_count=5, workers=4)
# 保存模型
model.save('../ckp/doc2vec.model')

- 对视频描述进行转换

In [10]:
v_des = video_df['video_description']
sen_encodes = []
for line in v_des:
    words_list = cut_sentence(line)
    sen_encode = para_doc2vec(words_list)
    sen_encodes.append(sen_encode)
video_descriptions = pd.DataFrame(sen_encodes)
video_descriptions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50355 entries, 0 to 50354
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       50355 non-null  float64
 1   1       50355 non-null  float64
 2   2       50355 non-null  float64
 3   3       50355 non-null  float64
 4   4       50355 non-null  float64
 5   5       50355 non-null  float64
 6   6       50355 non-null  float64
 7   7       50355 non-null  float64
 8   8       50355 non-null  float64
 9   9       50355 non-null  float64
 10  10      50355 non-null  float64
 11  11      50355 non-null  float64
 12  12      50355 non-null  float64
 13  13      50355 non-null  float64
 14  14      50355 non-null  float64
 15  15      50355 non-null  float64
 16  16      50355 non-null  float64
 17  17      50355 non-null  float64
 18  18      50355 non-null  float64
 19  19      50355 non-null  float64
 20  20      50355 non-null  float64
 21  21      50355 non-null  float64
 22  22      50355 non-null  float64
 23  23      50355 non-null  float64
 24  24      50355 non-null  float64
 25  25      50355 non-null  float64
 26  26      50355 non-null  float64
 27  27      50355 non-null  float64
 28  28      50355 non-null  float64
 29  29      50355 non-null  float64
 30  30      50355 non-null  float64
 31  31      50355 non-null  float64
dtypes: float64(32)
memory usage: 12.3 MB

In [11]:
video_df = concatDf(video_df, video_descriptions, 'video_description')

拼接成功

In [12]:
video_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50355 entries, 0 to 50354
Data columns (total 87 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   video_id              50355 non-null  int32
 1   video_release_date    50355 non-null  object
 2   video_director_list   50355 non-null  object
 3   video_actor_list      50355 non-null  object
 4   video_score           46994 non-null  float64
 5   video_second_class    50355 non-null  object
 6   video_duration        50355 non-null  int32
 7   video_name_0          50355 non-null  float64
 8   video_name_1          50355 non-null  float64
 9   video_name_2          50355 non-null  float64
 10  video_name_3          50355 non-null  float64
 11  video_name_4          50355 non-null  float64
 12  video_name_5          50355 non-null  float64
 13  video_name_6          50355 non-null  float64
 14  video_name_7          50355 non-null  float64
 15  video_name_8          50355 non-null  float64
 16  video_name_9          50355 non-null  float64
 17  video_name_10         50355 non-null  float64
 18  video_name_11         50355 non-null  float64
 19  video_name_12         50355 non-null  float64
 20  video_name_13         50355 non-null  float64
 21  video_name_14         50355 non-null  float64
 22  video_name_15         50355 non-null  float64
 23  video_name_16         50355 non-null  float64
 24  video_name_17         50355 non-null  float64
 25  video_name_18         50355 non-null  float64
 26  video_name_19         50355 non-null  float64
 27  video_name_20         50355 non-null  float64
 28  video_name_21         50355 non-null  float64
 29  video_name_22         50355 non-null  float64
 30  video_name_23         50355 non-null  float64
 31  video_name_24         50355 non-null  float64
 32  video_name_25         50355 non-null  float64
 33  video_name_26         50355 non-null  float64
 34  video_name_27         50355 non-null  float64
 35  video_name_28         50355 non-null  float64
 36  video_name_29         50355 non-null  float64
 37  video_name_30         50355 non-null  float64
 38  video_name_31         50355 non-null  float64
 39  video_tags_0          50355 non-null  float64
 40  video_tags_1          50355 non-null  float64
 41  video_tags_2          50355 non-null  float64
 42  video_tags_3          50355 non-null  float64
 43  video_tags_4          50355 non-null  float64
 44  video_tags_5          50355 non-null  float64
 45  video_tags_6          50355 non-null  float64
 46  video_tags_7          50355 non-null  float64
 47  video_tags_8          50355 non-null  float64
 48  video_tags_9          50355 non-null  float64
 49  video_tags_10         50355 non-null  float64
 50  video_tags_11         50355 non-null  float64
 51  video_tags_12         50355 non-null  float64
 52  video_tags_13         50355 non-null  float64
 53  video_tags_14         50355 non-null  float64
 54  video_tags_15         50355 non-null  float64
 55  video_description_0   50355 non-null  float64
 56  video_description_1   50355 non-null  float64
 57  video_description_2   50355 non-null  float64
 58  video_description_3   50355 non-null  float64
 59  video_description_4   50355 non-null  float64
 60  video_description_5   50355 non-null  float64
 61  video_description_6   50355 non-null  float64
 62  video_description_7   50355 non-null  float64
 63  video_description_8   50355 non-null  float64
 64  video_description_9   50355 non-null  float64
 65  video_description_10  50355 non-null  float64
 66  video_description_11  50355 non-null  float64
 67  video_description_12  50355 non-null  float64
 68  video_description_13  50355 non-null  float64
 69  video_description_14  50355 non-null  float64
 70  video_description_15  50355 non-null  float64
 71  video_description_16  50355 non-null  float64
 72  video_description_17  50355 non-null  float64
 73  video_description_18  50355 non-null  float64
 74  video_description_19  50355 non-null  float64
 75  video_description_20  50355 non-null  float64
 76  video_description_21  50355 non-null  float64
 77  video_description_22  50355 non-null  float64
 78  video_description_23  50355 non-null  float64
 79  video_description_24  50355 non-null  float64
 80  video_description_25  50355 non-null  float64
 81  video_description_26  50355 non-null  float64
 82  video_description_27  50355 non-null  float64
 83  video_description_28  50355 non-null  float64
 84  video_description_29  50355 non-null  float64
 85  video_description_30  50355 non-null  float64
 86  video_description_31  50355 non-null  float64
dtypes: float64(81), int32(2), object(4)
memory usage: 33.0+ MB

### video_release_date
> 将年份划分为年月即可

In [13]:
video_release_date = video_df['video_release_date']

In [14]:
video_release_date.head(3)

0    2017-04-27
1    2015-12-30
2    2002-03-07
Name: video_release_date, dtype: object

In [15]:
video_df['video_release_date'] = pd.to_datetime(video_df['video_release_date'])
video_df['video_release_year'] = video_df['video_release_date'].dt.year
video_df['video_release_month'] = video_df['video_release_date'].dt.month
video_df['video_release_day'] = video_df['video_release_date'].dt.day
video_df.drop('video_release_date', axis=1, inplace=True)  # 删除原来的视频发布日期特征

> 暂时不填充，缺失值

### video_director_list
> multi-hot, LDA降维

In [16]:
m_l_diretor = getMultiHotLabel(video_df, 'video_director_list')

In [17]:
new_director_list = getLDAencode(m_l_diretor)

In [18]:
video_df = concatDf(video_df, new_director_list, 'video_director_list')

拼接成功

In [19]:
video_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50355 entries, 0 to 50354
Columns: 104 entries, video_id to video_director_list_15
dtypes: float64(100), int32(2), object(2)
memory usage: 39.6+ MB

### video_actor_list
> 同上，multi-hot，然后LDA降维

In [20]:
m_h_actor = getMultiHotLabel(video_df, 'video_actor_list')

In [21]:
new_actor_df = getLDAencode(m_h_actor)

In [22]:
video_df = concatDf(video_df, new_actor_df, 'video_actor_list')

拼接成功

In [23]:
video_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50355 entries, 0 to 50354
Columns: 119 entries, video_id to video_actor_list_15
dtypes: float64(116), int32(2), object(1)
memory usage: 45.3+ MB

In [24]:
video_df.head(5)

,video_id,video_score,video_second_class,video_duration,video_name_0,video_name_1,video_name_2,video_name_3,video_name_4,video_name_5,...,video_actor_list_6,video_actor_list_7,video_actor_list_8,video_actor_list_9,video_actor_list_10,video_actor_list_11,video_actor_list_12,video_actor_list_13,video_actor_list_14,video_actor_list_15
0,3460,7.4,"剧情,喜剧,奇幻",5913,0.043062,-0.073790,0.111853,-0.029774,0.024150,-0.035227,...,0.012500,0.012500,0.012500,0.012500,0.012500,0.012500,0.012500,0.012500,0.012500,0.012500
1,14553,5.6,喜剧,6217,0.041421,-0.012366,0.102273,-0.083679,-0.017905,-0.002874,...,0.010417,0.010417,0.843750,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417,0.010417
2,1214,6.8,"都市,喜剧,爱情,家庭",5963,0.127346,-0.132490,0.105639,0.009054,0.097110,-0.035699,...,0.003906,0.003906,0.003906,0.003906,0.003906,0.003906,0.003906,0.003906,0.003906,0.003906
3,30639,NaN,"动画,爱情",17371,0.062892,-0.053055,0.049159,-0.029343,0.010458,-0.009849,...,0.031250,0.031250,0.031250,0.031250,0.531250,0.031250,0.031250,0.031250,0.031250,0.031250
4,38522,7.7,"剧情,歌舞,喜剧",10608,0.071006,-0.093382,0.105073,-0.030376,0.051780,0.004910,...,0.006944,0.006944,0.006944,0.006944,0.006944,0.006944,0.006944,0.006944,0.006944,0.895833

### score
> 数值特征，无需改变

### video_second_class
>multi-hot, LDA

In [25]:
m_hot = getMultiHotLabel(video_df, 'video_second_class')

In [26]:
lda_encode = getLDAencode(m_hot)

In [27]:
video_df = concatDf(video_df, lda_encode, 'video_second_class')

拼接成功

In [28]:
video_df.head(5)

,video_id,video_score,video_duration,video_name_0,video_name_1,video_name_2,video_name_3,video_name_4,video_name_5,video_name_6,...,video_second_class_6,video_second_class_7,video_second_class_8,video_second_class_9,video_second_class_10,video_second_class_11,video_second_class_12,video_second_class_13,video_second_class_14,video_second_class_15
0,3460,7.4,5913,0.043062,-0.073790,0.111853,-0.029774,0.024150,-0.035227,0.032603,...,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.265625,0.265625,0.015625
1,14553,5.6,6217,0.041421,-0.012366,0.102273,-0.083679,-0.017905,-0.002874,0.029637,...,0.031250,0.031250,0.031250,0.031250,0.031250,0.031250,0.031250,0.031250,0.531250,0.031250
2,1214,6.8,5963,0.127346,-0.132490,0.105639,0.009054,0.097110,-0.035699,0.022208,...,0.012500,0.012500,0.012500,0.012500,0.012500,0.012500,0.012500,0.212500,0.012500,0.012500
3,30639,NaN,17371,0.062892,-0.053055,0.049159,-0.029343,0.010458,-0.009849,-0.001803,...,0.020833,0.020833,0.020833,0.020833,0.020833,0.020833,0.020833,0.020833,0.020833,0.020833
4,38522,7.7,10608,0.071006,-0.093382,0.105073,-0.030376,0.051780,0.004910,0.018744,...,0.015625,0.015625,0.015625,0.515625,0.015625,0.015625,0.015625,0.015625,0.265625,0.015625

### video_duration
>数值类型，不处理

### 保存特征改变结果

In [29]:
video_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50355 entries, 0 to 50354
Columns: 134 entries, video_id to video_second_class_15
dtypes: float64(132), int32(2)
memory usage: 51.1 MB

In [31]:
save_video_temp_data(video_df, 'video_data_v3')

保存成功
保存路径为： ../../dataset/traindata/video_features_data/video_data_v3.csv